<div class="home">
    <h1 class="badge rounded-pill bg-success" style="font-size: 30px; font-weight: bold;">🔶 &nbsp; Home Page &nbsp; 🔶
    </h1>
    <br>
    <a href="#" routerLink="/guests" class="circular-button">Goto Guest Phonebook </a>

    <div class="section-hero">
        <div class="page_padding">
            <div class="container_page">
                <div class="details_hero_wrapper">
                    <div class="hero_content_wrapper">
                        <div class="heading-hero_wrapper">
                            <h1 class="hero_heading">One place for all your contacts</h1>
                        </div>
                        <div class="subheading-hero_wrapper">
                            <p class="subheading_hero">Manage Guests contacts from a single place and access them
                                everywhere
                                together with your team.</p>
                        </div>

                        <div class="stats_wrapper">
                            <div id="w-node-_2234f06f-c46b-24b6-0158-fbc855311f3b-73273f67" class="hero_stats">
                                <div class="big-text">1M+</div>
                                <div class="stats_description">contacts shared</div>
                            </div>
                            <div id="w-node-_534edd7b-7959-0ae9-0042-44f38ecbfe11-73273f67" class="hero_stats no-line">
                                <div class="big-text">95%</div>
                                <div class="stats_description">user satisfaction</div>
                            </div>
                            <div id="w-node-_3dd6594a-9614-3076-0a73-aa1e52cfb3cd-73273f67" class="hero_stats last">
                                <div class="big-text">17k+</div>
                                <div class="stats_description">users</div>
                            </div>
                        </div>
                    </div>
                    <div class="hero_img_wrapper">
                        <!-- <img src="../../../assets/hero-img.jpg" class="hero-image"> -->
                        <img src="../../../assets/hero-img.jpg" width="568">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>