<div class="listGuest">
    <h1 class="badge rounded-pill bg-success" style="font-size: 24px; font-weight: bold;">🔶 &nbsp; Guests List &nbsp;
        🔶
    </h1><br>
</div>
<a href="#" routerLink="/">Goto Home</a><br><br>
<ng-container *ngIf="guests.length >0">
    <table class="table" border="2">
        <thead class="table-danger">
            <tr>
                <th>ID</th>
                <th>Guest Name</th>
                <th>Contact Number</th>
                <th colspan="2">
                    <button routerLink="/guests/add">Add Guest</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let guest of guests" class="table-success">
                <td>{{guest.id}}</td>
                <td>{{guest.name}}</td>
                <td>{{guest.contactNumber}}</td>
                <td>
                    <button routerLink="/guests/edit/{{ guest.id }}">Edit</button>
                </td>
                <td>
                    <button (click)="deleteGuest(guest.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-container *ngIf="guests.length === 0">
    <h3>No Guest Record Found..!!</h3>
    <button routerLink="/guests/add">Add Guest</button>
</ng-container>